/* .p {
    color: #ff3333;
    margin-bottom: 15px;
    border: 1px solid #ff3333;
    padding: 10px;
    width: 100%;
    text-align: center;
  } */

.LoginPage .CustomPaper {
  max-width: 300px;
}

.LoginPage .CustomPaper form > *{
  margin-top: 26px;
}

.LoginPage .CustomPaper form > *:first-child {
  margin-top: 0px;
}